__pycache__
.classpath
.DS_Store
.env
.gradle
.idea
.kotlin
.mypy_cache
.project
.pytest_cache
.ruff_cache
.venv 
*.egg-info
*.py[codz]
*.vsix
**/bin/
**/obj/
build
memory/
node_modules
references/
scripts_old
Thumbs.db
venv
work/
workspace.json