# Ignore everything
**

# Allow only what the extension and its registry listing need (CHANGELOG.md fills the Changelog tab)
!package.json
!README.md
!CHANGELOG.md
!LICENSE.md
!themes/**
!src/**
!styles/**
!img/icon.png
